body{
    background-color: #2c2c2c;
    padding: 0;
    margin: 0;
}


#answer1-card, #question-card, #answer2-card{ 
    margin: 2%;
}

.answer-card{
    width: 30%;
    min-height: 80%;
    margin-top: 5%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 3%;
    cursor: pointer;
}

.content{
    width: 90%;
    height: 90%;
    text-align: center;
    position: relative;
    left: 5%;
    top: 5%;
    padding-top: 5%;
    user-select: none;
}

#question-card{
    width: 32%;
    min-height: 85%;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 1%;
    left: 32.5%;
    z-index: 2;
}

@keyframes left{
    from{
        
    }
    to{
        width: 30%;
        min-height: 80%;
        margin-top: 5%;
        background-color: white;
        border-radius: 25px;
    }
}

.stacked-answer-card{
    width: 32%;
    min-height: 85%;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    z-index: 1;
}
#stacked-answer1-card{
    position: absolute;
    left: 1%;
}

#stacked-answer2-card{
    position: absolute;
    left: 68%;
}

#answer1-card{
    position: absolute;
    left: 0;
    z-index: 2;
}

#answer2-card{
    position: absolute;
    left: 67%;
    z-index: 2;
}
