<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dillemmas</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src = "{{ url_for('static', filename='javascript/script.js')}}"></script>
</head>
<body>
    <div id="container">
        <div id="answer1-card" class = "answer-card">
            <div id="answer1-content"  class = "content">
 
            </div>
        </div>
        <div id="stacked-answer1-card" class="stacked-answer-card">
            
        </div>

        <div id="question-card">
            <div id="question-content" class = "content">

            </div>
        </div>

        <div id="answer2-card" class = "answer-card">
            <div id="answer2-content" class = "content">
    
            </div>
        </div>

        <div id="stacked-answer2-card" class="stacked-answer-card">

        </div>
    </div>
    
</body>
</html>